@font-face {
  font-family: 'Figtree';
  src: url('./fonts/static/Figtree-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900; /* phạm vi nếu là variable font */
  font-style: normal;
}
@font-face {
  font-family: 'Figtree Medium';
  src: url('./fonts/static/Figtree-Medium.ttf') format('truetype');
  font-weight: 500;
}
@font-face {
  font-family: 'Figtree ExtraBold';
  src: url('./fonts/static/Figtree-ExtraBold.ttf') format('truetype');
  font-weight: 800;
}
body {
    background-color: #F7D154;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

card {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid black;
    width: 336px;
}

.main {
    border-radius: 10px;
}

.item {
    background-color: #F7D154;
    padding: 5px 10px;
    width: fit-content;
    border-radius: 3px;
    margin: 20px 0px;
}

.footer {
    display: flex;
}

.footer b {
    align-self: center;
    margin-left: 10px;
}

